@import "./style-menu-commun.scss";


.container {
  .menu { 
    background-color: color(menu-card--clair);

    &__title {
      @include title-fontSize();
      font-size: 50px;
      background: -webkit-linear-gradient(#c77412,#955eec,);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
    }
  }
}
