.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: auto;
}

.container .header {
  background-color: #42917d;
}

.container .header .header__title {
  color: #ffc44c;
}

.container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F9F9F9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 100px 0 100px;
  border-radius: 2%;
}

.container .menu__prelude--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .menu__prelude--title hr {
  width: 100px;
  height: 0px;
}

.container .menu__prelude--title h5 {
  padding: 0px;
  margin: 0px;
}

.container .menu__orgue--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .menu__orgue--title hr {
  width: 100px;
  height: 0px;
}

.container .menu__orgue--title h5 {
  padding: 0px;
  margin: 0px;
}

.container .menu__final--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .menu__final--title hr {
  width: 100px;
  height: 0px;
}

.container .menu__final--title h5 {
  padding: 0px;
  margin: 0px;
}

.container .prochainement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .prochainement .prochainement__btn {
  background-color: #42917d;
  border: none;
  border-radius: 5%;
  color: #ffc44c;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #42917d;
}

.container .footer a {
  color: #ffc44c;
  font-size: 16px;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
}
/*# sourceMappingURL=style_menu3.css.map */