@import "./style-menu-commun.scss";



.container {
  .menu {
    background-color: color(menu-card--gris);

    &__title {
      @include title-fontSize();
      font-size: 50px;
      background: -webkit-linear-gradient(#3f46e7,#1a89fb);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
