@import "./style-menu-commun.scss";

$colors: (
  header_footer_btn_bgc: #42917d,
  header_footer_btn_fontcolor: #ffc44c,
  menu-card--clair: #fff4fe,
  orange-fort:#c77412,
  violet-fort:#955eec,
);

.container {
  .menu {
    display: flex;
    background-color: color(menu-card--clair);

    &__title {
      @include title-fontSize();
      @include gradient-title(orange-fort,violet-fort);
    }
  }
}
