body {
  margin: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: auto;
}

.container .header {
  margin-bottom: 50px;
  background-color: #42917d;
}

.container .header .header__title {
  color: #ffc44c;
}

.container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  border-radius: 2%;
  -webkit-box-shadow: 1px 1px 4px silver;
          box-shadow: 1px 1px 4px silver;
  width: 700px;
  margin-bottom: 100px;
  padding-bottom: 100px;
}

.container .menu__body p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
}

.container .menu__img {
  width: 80px;
  height: 80px;
}

.container .menu__top--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 22px;
}

.container .menu__top--title img {
  width: 200px;
  height: 20px;
}

.container .menu__top--title h5 {
  padding: 0px;
  margin: 0px;
}

.container .menu__container--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 22px;
}

.container .menu__container--title img {
  width: 200px;
  height: 20px;
}

.container .menu__container--title h5 {
  padding: 0px;
  margin: 0px;
}

.container .menu__bottom--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 22px;
}

.container .menu__bottom--title img {
  width: 200px;
  height: 20px;
}

.container .menu__bottom--title h5 {
  padding: 0px;
  margin: 0px;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #42917d;
}

.container .footer a {
  color: #ffc44c;
  font-size: 16px;
  text-decoration: none;
  margin-left: 12px;
  margin-right: 12px;
}

.container h5 {
  position: relative;
}

.container h5:before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container h5:hover:before {
  visibility: visible;
  width: 100%;
}

@media screen and (max-width: 600px) {
  body {
    margin: auto;
  }
  .header {
    margin: 0 0 40 auto;
  }
  .menu {
    width: auto;
  }
  .container {
    width: 700px;
  }
  .footer {
    position: absolute;
  }
}

.container .header {
  margin-bottom: 0px;
}

.container .menu {
  padding-bottom: 0px;
  background-color: #fbdfdb;
}

.container .menu__img {
  width: 80px;
  height: 80px;
}

.container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .bottom .bottom-img {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=style_menu1.css.map */