$colors: (
  header_footer_btn_bgc: #42917d,
  header_footer_btn_fontcolor: #ffc44c,
  menu-card--rosybrown: #fbdfdb,
  menu-card--clair: #fff4fe,
  orange-fort: #c77412,
  violet-fort: #955eec,
  menu-card-gris2: #fcfffd,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 840px;
@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

@mixin img-widthAndHeigth {
  width: 200px;
  height: 20px;
}

@mixin gradient-title($colors, $colors) {
  font-size: 50px;
  background: -webkit-linear-gradient($colors, $colors);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin background-color {
  background-color: $colors;
}

@mixin title-fontSize {
  font-size: 22px;
}

@mixin h5-paddingAndMargin {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: auto;

  .header {
    margin-bottom: 50px;
    background-color: color(header_footer_btn_bgc);
    .header__title {
      color: color(header_footer_btn_fontcolor);
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // margin: 10px 500px 10px 500px;
    margin-right: auto;
    margin-left: auto;

    border-radius: 2%;
    box-shadow: 1px 1px 4px silver;
    width: 700px;
    margin-bottom: 100px;

    &__body {
      p {
        display: flex;
        justify-content: space-between;
        width: 600px;
      }
    }

    &__title {
    }
    &__img {
      width: 80px;
      height: 80px;
    }

    &__top {
      &--title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include title-fontSize();
        img {
          @include img-widthAndHeigth();
        }
        h5 {
          @include h5-paddingAndMargin;
        }
      }
    }

    &__container {
      &--title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include title-fontSize();
        img {
          @include img-widthAndHeigth();
        }
        h5 {
          @include h5-paddingAndMargin;
        }
      }
    }
    &__bottom {
      &--title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include title-fontSize();
        img {
          @include img-widthAndHeigth();
        }
        h5 {
          @include h5-paddingAndMargin;
        }
      }
    }
  }

  // .prochainement {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   .prochainement__btn {
  //     background-color: color(header_footer_btn_bgc);
  //     border: none;
  //     border-radius: 5%;
  //     color: color(header_footer_btn_fontcolor);
  //     padding: 15px 32px;
  //     text-align: center;
  //     text-decoration: none;
  //     display: inline-block;
  //     font-size: 20px;
  //     margin-top: 10px;
  //     margin-bottom: 20px;
  //   }
  // }
  .footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
    background-color: color(header_footer_btn_bgc);
    a {
      color: color(header_footer_btn_fontcolor);
      font-size: 16px;
      text-decoration: none;
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  h5 {
    position: relative;
  }

  h5:before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: -5px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  h5:hover:before {
    visibility: visible;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  body {
    margin: auto;
  }
  .header {
    margin: 0 0 40 auto;
  }

  .menu {
    width: auto;
  }

  .container {
    width: 700px;
  }

  .footer {
    position: absolute;
  }
}
