@import "./style-menu-commun.scss";

$colors: (
  header_footer_btn_bgc: #42917d,
  header_footer_btn_fontcolor: #ffc44c,
  menu-card--gris: #f9f9f9,
  bleu-fort:#3f46e7,
  bleu-clair:#1a89fb,
);

.container {
  .menu {
    background-color: color(menu-card--gris);

    &__title {
      @include title-fontSize();
      @include gradient-title(bleu-fort,bleu-clair);
    }
  }
}
