$colors: (
  header_footer_btn_bgc: #42917d,
  header_footer_btn_fontcolor: #ffc44c,
  menu-card--rosy: #fbdfdb,
  menu-card--clair: #fff4fe,
  menu-card--gris: #f9f9f9,
  menu-card-gris2: #fcfffd,
  musique-symbole-orange: #f6916a,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function police($police-name) {
  @return map-get($police, $police-name);
}

$desktop: 840px;
@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

@keyframes zoom-opacity {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: auto;
  height: auto;

  .header {
    padding: 5px;
    background-color: color(header_footer_btn_bgc);
    .header__title {
      color: color(header_footer_btn_fontcolor);
      font-size: xx-large;
    }
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

    .menu-card {
      flex: 0 30%;
      width: 100%;
      margin-top: 30px;
      margin-right: 50px;
      margin-bottom: 20px;
      margin-left: 50px;
      height: 350px;
      padding-top: 150px;
      margin-bottom: 30px;

      border-radius: 3px;
      box-shadow: 1px 1px 4px silver;
      &__link {
        display: block;
        height: 100%;
        text-decoration: none;
      }

      &__body {
        text-align: center;

        &--rosy {
          background-color: color(menu-card--rosy);
          font-family: "Nerko One", cursive;
        }
        &--clair {
          background-color: color(menu-card--clair);
          font-family: "Libre Baskerville", serif;
        }
        &--gris {
          background-color: color(menu-card--gris);
          font-family: "Libre Baskerville", serif;
        }
        &--gris2 {
          background-color: color(menu-card--gris2);
        }
      }
      &__img {
        font-size: 45px;

        &--isNotDisplayed {
          display: none;
        }
        &--orange {
          background: -webkit-linear-gradient(red, orange);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      &__title {
        &--brown {
          color: #3d1318;
        }

        &--orange {
          color: #c77412;
        }
        &--bleu {
          color: #1d87fb;
        }
        &--vert {
          color: #73be56;
        }
      }
      &__subtitle {
        font-size: 15px;
        font-style: italic;

        &--brown {
          color: #3d1318;
        }
        &--orangeviolet {
          background: -webkit-linear-gradient(#c77412, #955eec);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &--bleu {
          background: -webkit-linear-gradient(#3f46e7, #1a89fb);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &--vert {
          background: -webkit-linear-gradient(#73be56, #beff7f);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &--font {
          font-size: large;
        }
      }

      &:hover {
        animation: zoom-opacity linear;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        .menu-card__title {
          transition: all 1s linear;
          font-size: 24px;
        }

        .menu-card__subtitle {
          transition: all 1s linear;
          font-size: 24px;
        }
        .menu-card__img {
          transition: all 1s linear;
          font-size: 65px;
        }
      }
    }
  }

  .prochainement__btn {
    width: 300px;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: color(header_footer_btn_bgc);
    border: none;
    color: color(header_footer_btn_fontcolor);
    padding: 5px 50px;
    font-size: x-large;
    border-radius: 12px;
    margin-bottom: 100px;

    .prochainement__btn-dot {
      border-radius: 50%;
      opacity: 0;
      width: 7px;
      height: 7px;
      margin-top: 10px;
      margin-right: 5px;
      background: color(header_footer_btn_fontcolor);
      animation: loadingFade 1s infinite;
    }
    .first_dot {
      margin-left: 10px;
    }

    .prochainement__btn-dot:nth-child(1) {
      animation-delay: 0s;
    }

    .prochainement__btn-dot:nth-child(2) {
      animation-delay: 0.2s;
    }

    .prochainement__btn-dot:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  background-color: color(header_footer_btn_bgc);

  &__btn {
    margin-top: 15px;
    margin-left: 12px;
    margin-right: 12px;
    // line-height: 60px;
    font-size: x-large;
  }

  &__btn:hover {
    animation: thing 3s infinite;
  }

  &__btn a {
    color: color(header_footer_btn_fontcolor);
    text-decoration: none;
  }
}

@keyframes thing {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-4deg);
  }
  4% {
    transform: rotate(2deg);
  }
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.fa-music {
  width: 60%;
}

@media screen and (max-width: 900px) {
  // body {
  //   margin: auto;
  // }
  .header {
    margin: auto;
  }

  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
    width: 70%;
  }
  .menu-card {
    width: 40%;
    margin-left: 0px;
    padding: auto;
  }

  .container {
    width: 100%;
  }
}
