$colors: (
  header_footer_btn_bgc: #42917d,
  header_footer_btn_fontcolor: #ffc44c,
  menu-card--rosy: #fbdfdb,
  menu-card--clair: #fff4fe,
  menu-card--gris: #F9F9F9,
  menu-card-gris2: #FCFFFD,
  musique-symbole-orange: #f6916a,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 840px;
@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

@keyframes zoom-opacity {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: auto;
  height: auto;

  .header {
    padding: 5px;
    background-color: color(header_footer_btn_bgc);
    .header__title {
      color: color(header_footer_btn_fontcolor);
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;



    .menu-card {
      margin: 20px;
      padding: 150px 10px 150px 10px;
      width: 300px;
      height: 100px;
      border-radius: 3px;
      box-shadow: 1px 1px 4px silver;
      &__link {
        display: block;
        height: 100%;
        text-decoration: none;
  
      }
      

     
      &__body {
        text-align: center;

        &--rosy {
          background-color: color(menu-card--rosy);
    
        }
        &--clair {
          background-color: color(menu-card--clair);
          
        }
        &--gris {
          background-color: color(menu-card--gris);
        }
        &--gris2 {
          background-color: color(menu-card--gris2);
        }
      }
      &__img {
        font-size: 45px;
ink
        &--isNotDisplayed {
          display: none;
        }
        &--orange {
          background: -webkit-linear-gradient(red, orange);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      &__title {
        font-size: 17px;

        &--brown{
          color: #3D1318;
        }

        &--orange{
          color: #C77412;
        }
        &--bleu{
          color: #1D87FB;
        }
        &--vert{
          color: #73BE56
        }
      }
      &__subtitle {
        font-size: 15px;
        font-style: italic;

        &--brown {
          color: #3D1318;
        }
        &--orangeviolet {
          background: -webkit-linear-gradient(#C77412, #955EEC);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &--bleu{
          background: -webkit-linear-gradient(#3F46E7, #1A89FB);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &--vert{
          background: -webkit-linear-gradient(#73BE56, #BEFF7F);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &:before{
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          bottom: 
          0;
          left: 0;
          background-color:black;
          visibility: hidden;
          transition: all 0.3s ease-in-out;
        }
        &:hover:before{
          visibility: visible;
          width: 100%;
  
        }
      
      }

      &:hover {
        animation: zoom-opacity linear;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        .menu-card__title {
          transition: all 1s linear;
          font-size: 24px;
        }

        .menu-card__subtitle {
          transition: all 1s linear;
          font-size: 24px;
        }
        .menu-card__img {
          transition: all 1s linear;
          font-size: 65px;
        }
      }
    }
  }

  .prochainement__btn {
    display: flex;
    align-items: center;
    margin-left: 800px;
    background-color: color(header_footer_btn_bgc);
    border: none;
    border-radius: 5%;
    color: color(header_footer_btn_fontcolor);
    padding: 15px 32px;
    text-align: center;
    // text-decoration: none;
    // display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 100px;

    .prochainement__btn-dot {
      border-radius: 50%;
      opacity: 0;
      width: 7px;
      height: 7px;
      margin-top: 10px;
      margin-right: 5px;
      background: color(header_footer_btn_fontcolor);
      animation: loadingFade 1s infinite;
    }
    .first_dot {
      margin-left: 10px;
    }

    .prochainement__btn-dot:nth-child(1) {
      animation-delay: 0s;
    }

    .prochainement__btn-dot:nth-child(2) {
      animation-delay: 0.2s;
    }

    .prochainement__btn-dot:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes loadingFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  background-color: color(header_footer_btn_bgc);

  &__btn {
    margin-left: 12px;
    margin-right: 12px;
    line-height: 60px;
    font-weight: bold;
  }

  &__btn:hover{
    animation: thing 3s infinite;

  }

  &__btn a {
    color: color(header_footer_btn_fontcolor);
    font-size: 18px;
    text-decoration: none;
  }
}

@keyframes thing {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-4deg);
  }
  4% {
    transform: rotate(2deg);
  }
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.fa-music {
  width: 60%;
}
